@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<h1>Products</h1>
<a asp-controller="products" asp-action="add">Add product</a>
<table class="table">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Jobs</th>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Remove</a>
                    <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
